<div class="container">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Login</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" formControlName="username">
          <div *ngIf="loginForm.get('username')?.errors?.['forbiddenName']" class="input-error">
            El nombre del usuario no puede ser 'carlos'.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-submit btn-block">Submit</button>
        <pre>{{loginForm.status}}</pre>
        <pre>{{loginForm.value | json}}</pre>
      </form>
    </div>
  </div>
</div>
